/* Estilo para o body */
body {
  background-color: #f9f3f3;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilo para os títulos */
h1, h2 {
  color: #e51b6c;
}

/* Estilo para os links */
a {
  color: #e51b6c;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.576);
  transition: 0.2s;
}

/* Estilo para as tabelas */
table {
  width: 100%;

}

th, td {
  padding: 10px;
  text-align: left;
}

th{
  background-color: #ff828d;
}

tr{
  background-color: #ffdfea;
}

tr:hover{
  background-color: #f7adcb;
}

/* Estilo para os botões */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e51b6c;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #c2185b;
}
